
body {
	font-size: 14px;
	font-family: monospace;
}

.editorSection {
	display:inline-block;
}

.CodeMirror {
   /* border-top: 1px solid black; border-bottom: 1px solid black; */
   font-size:15px;
   line-height: 16px;
}

.CodeMirror-scroll {
    height: auto; 
    overflow: visible;
}



.CodeMirror-completions select {
	width: auto;
	border: 1px solid #555;
	border-top: 0;
	background: white;
	padding: 0 1em 1em;
}

.CodeMirror-lines {
	
	
	
	padding-left: 7em;
}

.CodeMirror-lines > div {
	background:#fff;
	
}


.CodeMirror .gutter-info {
	color:#5c5;
	left: -68px;
	position: absolute;
}


.CodeMirror span.cm-attribute {
	color:#999;
}

/*
.CodeMirror pre .cm-header {
	font-family: monospace;
}

.CodeMirror pre {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 */
.specsSection {
	display:inline-block;
	vertical-align: top;
}

.recipeParameter {
	margin: 0.5rem 0;
} 

.recipeParameter .label {
	font-size: 1.25rem;
	display:inline;
	text-transform:uppercase;
} 

.recipeParameter .label:after {
	content:':';
} 

.recipeParameter .est {
	font-size: 1.25rem;
	display:inline;
} 

.warning .recipeParameter .est {
	color:red;
} 

.recipeParameter .guide-block .guide {
	display:inline;
} 

.recipeParameter .guide-block .guide-min:before {
	content: ' to '
}

.recipeParameter .guide-block .guide-avg:before {
	content: 'average '
}





/*

.recipeParameter .guide {
	font-size:0.8em;
	line-height: 1em;
	color:#777;
}

.recipeParameter .guide-block {
	display:inline-block;

}

.recipeParameter .glass .glass-overlay {
	width:60px;
	height:85px;
	background: transparent url('../img/pintglass.png') no-repeat -13px -10px;
}

.recipeParameter .glass {
	width:60px;
	height:85px;
	display:inline-block;
	vertical-align: top;
}

.recipeParameter .summary .totals {
	display:inline-block;
}


.recipeParameter .summary {
	margin-bottom:1em;
}

.recipeParameter .param {
	margin:0.5em 0;
}

.recipeParameter .est {
	font-size:1.7em;
	color:#232;
}

.recipeParameter .conversion {
	color:#444;
	margin-left: 1em;
	display:none;
}


.recipeParameter.warning {
	color:#f43;
}

.recipeParameter .label {
	width:40px;
	display:inline-block;
	text-align:right;
	margin-right:0.5em;
}
*/

/*
.results-wrapper .value {
	width:120px;
	display:inline-block;
	text-align:center;
}

*/











